{% extends "__base.html" %}

{% block body %}

<h1>Profits and losses</h1>

<a href="{% url 'add_transaction' %}">Add transaction</a>

<table class="table table-striped">
    <thead>
        <th>-</th>
        {% for month in months %}
            <th>{{month|date:"M Y"}}</th>
        {% endfor %}
    </thead>
    <tbody>
        {% for label in pandl %}
            {% ifchanged label.category %}
                <tr><td colspan={{months|length|add:1}}>{{label.category}}</td></tr>
            {% endifchanged %}
            {% ifchanged label.sub_category %}
                {% if label.sub_category != "" %}
                    <tr><td colspan={{months|length|add:1}}>{{label.sub_category}}</td></tr>
                {% endif %}
            {% endifchanged %}
            <tr>
                <td>{{label.label}}</td>
                {% for amount in label.amounts %}
                    <td><a href="{{amount.1}}">{{amount.0}}</a></td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}